@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto&display=swap');

$sidebar-width: 300px;
$theme-color: #1A1B25;

body {
    padding: 0px;
    margin: 0px;
}

.MathJax_Display, .MJXc-display, .MathJax_SVG_Display {
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 0.95em;
}

#navbar {
    h1 {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    height: 100%;
    width: $sidebar-width;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $theme-color;
    color: white;
    font-family: 'JetBrains Mono';
    font-weight: 300;
    nav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 1em;
        color: white;
        display: block;
        
    }

    a:hover {
        opacity: 0.7;
    }

    #social {
        li {
            list-style-type: none;
            display: inline-block;
        }
        position: absolute;
        bottom: 0px;
        right: 10px;

        .fa {
            font-size: 2em;
            width: 20px;
            margin-right: 10px;
            text-align: center;
            text-decoration: none;
            color: white;
        }

    }
}



#content {
    margin-left: $sidebar-width + 50px;
    margin-top: 50px;
    max-width: 800px;
    color: black;
    font-family: 'Roboto';

    h1 {
        font-size: 3em;
        color: $theme-color;
    }

    h3 {
        margin-bottom: 10px;
    }

    h3 a {
        font-size: 2em;
        text-decoration: none;
        color: $theme-color;
    }

    .post-meta {
        font-size: 0.9em;
        font-weight: 100;
    }

    .post-more {
        text-decoration: none;
        color: gray;
        font-size: 0.8em;
    }

    .post-content {
        line-height: 200%;
    }
}

@media only screen and (max-width: 800px) {
    #navbar {
        position: relative;
        width: 100%;
        height: 150px;
        font-size: 1em;
        
        h1 {
            margin: 0;
            padding-top: 50px;
        }
        nav a {
            margin-top: 20px;
            display: inline-block;
            bottom: 0;
        }

        #social {
            ul {
                list-style-type: none;
                margin-bottom: 0px;
                li {
                    display: inline-block; /* make list horizontal on mobile */
                }
            }
            position: absolute;
            bottom: 0px;
            right: 0px;
    
            .fa {
                font-size: 1.3em;
                width: 20px;
                text-align: center;
                text-decoration: none;
            }
    
            .fa-github {
                color: white;
              }
              
            /* Twitter */
            .fa-linkedin {
                color: white;
            }
        }
    }

    #content {
        width: 90%;
        margin: auto;
        overflow-x: hidden;

        h1 {
            font-size: 2em;
        }

        h3 {
            font-size: 1em;
        }
    }
}

.post-list {
    list-style-type: none;
    padding-left: 0;
    
    li {
        padding-bottom: 10px;
        position: relative;
    }

    li:after {
        content: '';
        width: 5%;
        height: 2px;
        background: $theme-color;
        position: absolute;
        left: 0px;
        bottom: -1px;
    }
}

.post-header {
    margin-bottom: 30px;
    .post-title {
        margin-bottom: 0px;
    }
}

.post-image {
    text-align: center;
    img {
        width: 90%;
    }
}

.post-footer {
    border-top: 1px solid $theme-color;
    margin-top: 100px;
    margin-bottom: 50px;
}

.post {
    blockquote {
        font-size: 0.95em;
        padding: 10px 20px;
        margin: 0 0 20px;
        border-left: 5px solid $theme-color;
    }

    pre {
        overflow: auto; /* I added this */
        padding: 15px;
        margin-bottom: 0;
       /* white-space: pre-wrap; I deleted this
        word-wrap: break-word;  and this
        word-break: break-all; and also this */ 
    }
}